﻿@model CeroFilas.Web.ViewModels.Appointments.AppointmentViewModel
@{
    this.ViewData["Title"] = "Cancelar Cita";
}

<h3><strong>¿Estás seguro que deseas cancelar esta cita?</strong></h3>
<form class="col-6 mt-5">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Fecha y Hora</label>
        <div class="col-sm-7">
            <div class="form-control">@Model.DateTime</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Empresa</label>
        <div class="col-sm-7">
            <div class="form-control">@Model.PartnerName</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Dirección</label>
        <div class="col-sm-7">
            <div class="form-control">@Model.PartnerAddress</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Servicio</label>
        <div class="col-sm-7">
            <div class="form-control">@Model.ServiceName</div>
        </div>
    </div>
</form>

<div class="col-6 mt-5 ml-5">
    <div class="row ml-5">
        <form method="post">
            <button type="submit" class="btn btn-outline-success"
                    asp-area="" asp-controller="Appointments" asp-action="DeleteAppointment" asp-route-id="@Model.Id">
                Si, Cancelar!
            </button>
        </form>
        <div class="ml-5">
            <a class="btn btn-danger" asp-area="" asp-controller="Appointments" asp-action="Index">No! Volver atrás</a>
        </div>
    </div>
</div>
