﻿@model CeroFilas.Web.ViewModels.Appointments.AppointmentInputModel
@{
    this.ViewData["Title"] = "Crear una Cita";
}
@section Styles {
    <link href="~/css/date-picker.min.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container-fluid ">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-6">
            <div class="card">
                <form autocomplete="off">
                    <div class="card-header">
                        <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                            <input type="text" id="dp1" class="datepicker" placeholder="📅 Seleccionar Fecha" style="font-family:Arial, FontAwesome" name="date" readonly />
                        </div>
                    </div>
                    <div class="card-body p-3 p-sm-5">
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">9:00AM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">9:30AM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">10:00AM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">10:30AM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">11:00AM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">11:30AM</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">12:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">12:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">1:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">1:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">2:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">2:30PM</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">3:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">3:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">4:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">4:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">5:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">5:30PM</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">6:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">6:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">7:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">7:30PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">8:00PM</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">8:30PM</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div>
                @await Component.InvokeAsync("PartnerServiceDetails", new { Model.PartnerId, Model.ServiceId })
            </div>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.PartnerId" value="@Model.PartnerId" class="form-control" hidden>
                <input asp-for="@Model.ServiceId" value="@Model.ServiceId" class="form-control" hidden>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <div id="selectedDate" asp-for="@Model.Date" class="form-control" hidden></div>
                        <input asp-for="@Model.Date" value="" class="form-control" required readonly />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hora</label>
                    <div class="col-sm-10">
                        <div id="selectedTime" asp-for="@Model.Time" class="form-control" hidden></div>
                        <input asp-for="@Model.Time" value="" class="form-control" required readonly />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg"
                                asp-area="" asp-controller="Appointments" asp-action="MakeAnAppointment">
                            Agendar ahora
                        </button>
                    </div>
                </div>
            </form>
            <div class="button button-large button_2 elements_button">
                <a asp-area="" asp-controller="Partners" asp-action="Details" asp-route-id="@Model.PartnerId">
                    <span>Cancelar</span>
                </a>
            </div>
            <div asp-validation-summary="All" data-valmsg-summary="true"></div>
        </div>

    </div>
</div>

<!--
<div id="selectedDate"></div>
<div id="selectedTime"></div>
-->

@section Scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/date-picker.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        })
    </script>
}
