.datepicker {
    background-color: rgba(1, 41, 112, 0.88) !important;
    color: #fff !important;
    border: none;
    padding: 10px !important;
    text-align: center;
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #000
}

thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px
}

span.month,
span.year {
    display: block;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
    text-align: center;
    cursor: default;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000
}

.disabled {
    color: #000000 !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
    opacity: 0.8;
    cursor: pointer;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
}

.cell:hover {
    border: 1px solid rgba(1, 41, 112, 0.88)
}

.cell.select {
    background-color: rgba(1, 41, 112, 0.88);
    color: #fff
}