﻿@using CeroFilas.Common
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="~/img/logo.png" alt="">
                        <span>CeroFilas</span>
                    </a>
                    <p>Agenda servicios sin tener que hacer fila, te ayudamos a programar citas en cualquier horario sin salir de casa.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 footer-links">
                    <h4>Accesos Rápidos</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Nosotros</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Servicios</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terminos del servicio</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-area="" asp-controller="Home" asp-action="Privacy">Politicas de Privacidad</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-left text-md-start">
                    <h4>Contáctanos</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> admin@cerofilas.com.co<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> <strong><span>CeroFilas</span></strong>. Todos
            los derechos reservados
        </div>
    </div>
</footer>
