﻿@using CeroFilas.Common
@using CeroFilas.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="dropdown"><a href="#"><span>@(this.User.Identity.Name)</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Editar Perfil</a></li>
            <li><a asp-area="" asp-controller="Appointments" asp-action="Index">Mis Citas</a></li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li>
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Administración</a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.PartnerManagerRoleName))
            {
                <li>
                    <a asp-area="Manager" asp-controller="Dashboard" asp-action="Index">Empresas</a>
                </li>
            }
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <a href="#"><button class="btn btn-text px-0" type="submit">Cerrar Sesión</button></a>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Registro</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
