﻿<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <img src="~/img/logo.png" alt="">
            <span>CeroFilas</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <partial name="_MenuItemsPartial" />
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->