﻿@model CeroFilas.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Default";
}

<div class="row row-eq-height">
    <div class="col-lg-12">
        <h1 class="my-3">Agenda de Citas</h1>

        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Fecha de cita</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Confirmar</th>
                    <th scope="col">Rechazar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in this.Model.Appointments)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime.ToString("f")</th>
                        <td>@appointment.UserEmail</td>
                        <td>@appointment.ServiceName</td>
                        <td>
                            @if (appointment.Confirmed == true)
                            {
                                <span class="badge badge-success">Confirmada</span>
                            }
                            else if (appointment.Confirmed == false)
                            {
                                <span class="badge badge-danger">Rechazada</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Pendiente</span>
                            }
                        </td>
                        @if (appointment.DateTime.Date > DateTime.UtcNow.Date)
                        {
                            <td>
                                <form method="post">
                                    <button type="submit" class="btn btn-success btn-sm"
                                            asp-area="Manager" asp-controller="Partners" asp-action="ConfirmAppointment" 
                                            asp-route-id="@appointment.Id" asp-route-PartnerId="@appointment.PartnerId">
                                        Confirmar
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="post">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            asp-area="Manager" asp-controller="Partners" asp-action="DeclineAppointment" 
                                            asp-route-id="@appointment.Id" asp-route-PartnerId="@appointment.PartnerId">
                                        Rechazar
                                    </button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                Vencido
                            </td>
                            <td>
                                Vencido
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
