﻿@model CeroFilas.Web.ViewModels.Partners.PartnerWithServicesViewModel
@{
    this.ViewData["Title"] = "Gestionar Empresa: " + Model.Name;
}

<div class="row row-eq-height">
    <!-- Info Box -->
    <div class="col-lg-5">
        <div class="partner-details-slider swiper-container">
            <img src="@Model.ImageUrl" alt="" class="img-fluid">
        </div>
        <br />
        <div class="partner-info">
            <h3>Información</h3>
            <ul>
                <li><strong>Tipo de Servicio</strong>: @Model.CategoryName</li>
                <li><strong>Dirección</strong>: @Model.CityName, @Model.Address</li>
                <li><strong>Sitio Web</strong>: <strong>@Model.Website</strong></li>
            </ul>
        </div>
    </div>
    <!-- Panel -->
    <div class="col-lg-7">
        <h1>Servicios Ofrecidos:</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Servicio</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.Services)
                {
                    <tr>
                        <th scope="row">@service.ServiceName</th>
                        <td>
                            @if (service.Available == true)
                            {
                                <span class="badge badge-success">Disponible</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">No Disponible</span>
                            }
                        </td>
                        <td>
                            <form method="post">
                                <button type="submit" class="btn btn-outline-info btn-sm"
                                        asp-area="Manager" asp-controller="Partners" asp-action="ChangeServiceAvailableStatus" 
                                        asp-route-PartnerId="@Model.Id" asp-route-serviceId="@service.ServiceId">
                                    Cambiar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr class="bg-dark mx-4" style="height: 6px;" />

<div>
    @await Component.InvokeAsync("AllAppointmentsByPartner", Model.Id)
</div>

@section Scripts {
    <script src="~/js/rating-static.js" asp-append-version="true"></script>
}
