﻿@model CeroFilas.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Citas";
}

<h2>Todas las Citas (@Model.Appointments.Count())</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Cliente</th>
            <th scope="col">Empresa</th>
            <th scope="col">Servicio</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in this.Model.Appointments)
        {
            <tr>
                <th scope="row">@appointment.DateTime.ToString("f")</th>
                <td>@appointment.UserEmail</td>
                <td>@appointment.PartnerName</td>
                <td>@appointment.ServiceName</td>
                <td>
                    @if (appointment.Confirmed == true)
                    {
                        <span class="badge badge-success">Confirmada</span>
                    }
                    else if (appointment.Confirmed == false)
                    {
                        <span class="badge badge-danger">Rechazada</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Pendiente</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
