﻿@model CeroFilas.Web.ViewModels.Services.ServicesListViewModel
@using CeroFilas.Common
@{
    this.ViewData["Title"] = "Servicios";
}

<h2>
    Todos los Servicios (@Model.Services.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Services" asp-action="AddService">Añadir Nuevo
            Servicio</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col">Empresas</th>
            <th scope="col">Citas</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in this.Model.Services)
        {
            <tr>
                <th scope="row">@service.Name</th>
                <td>@service.CategoryName</td>
                <td>@service.Description</td>
                <td>@service.PartnersCount</td>
                <td>@service.AppointmentsCount</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm" asp-area="Administration"
                        asp-controller="Services" asp-action="DeleteService" asp-route-id="@service.Id">
                            Borrar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
