﻿@model CeroFilas.Web.ViewModels.Partners.PartnersPaginatedListViewModel
@{
    this.ViewData["Title"] = "Empresas Aliadas";
}

<div>
    @await Component.InvokeAsync("CategoriesSimpleList")
</div>
<header class="section-header">
    <h2 style="font-size: 1.5rem"><strong>@this.ViewData["CategoryName"]?.ToString()</strong></h2>
</header>

@if (!Model.Partners.Any())
{
    <div class="row">
        <p class="my-5">Sin resultados.</p>
    </div>
}

<div class="row row-eq-height">
    @foreach (var Partner in Model.Partners)
    {
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card">
                <img class="card-img-top" src="@Partner.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Partner.Name</h5>
                    <p class="card-text">@Partner.Address</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Partners" asp-action="Details"
                    asp-route-id="@Partner.Id">
                        <span>Ver Fechas</span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.Partners.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Partners.HasNextPage ? "disabled" : "";
}
<br />

<div class="row text-center my-4">
    <div class="m-2">
        <a asp-action="Index" asp-route-sortId="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.Partners.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-outline-secondary btn-lg @prevDisabled">
            &#x2190; Anterior
        </a>
    </div>
    <div class="m-2">
        <a asp-action="Index" asp-route-sortId="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.Partners.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-outline-secondary btn-lg @nextDisabled">
            Siguiente &#x2192;
        </a>
    </div>
</div>
