﻿@model CeroFilas.Web.ViewModels.Categories.CategoryInputModel
@{
    this.ViewData["Title"] = "Añadir Categoria";
}

<div class="col-lg-6">
    <h2>Nueva Categoría</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" asp-for="@Model.Name" class="form-control" required="required">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Descripción</label>
            <div class="col-sm-8">
                <textarea type="text" asp-for="@Model.Description" class="form-control" required="required"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                        asp-area="Administration" asp-controller="Categories" asp-action="AddCategory">
                    Añadir Categoría
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" asp-area="Administration" asp-controller="Categories" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}
