﻿@model CeroFilas.Web.ViewModels.Categories.CategoriesListViewModel
@using CeroFilas.Common
@{
    this.ViewData["Title"] = "Categorias";
}

<h2>
    Todas las Categorias (@Model.Categories.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Categories" asp-action="AddCategory">Añadir
            Nueva Categoria</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Servicios</th>
            <th scope="col">Empresas</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in this.Model.Categories)
        {
            <tr>
                <th scope="row">@category.Name</th>
                <td>@category.Description</td>
                <td>@category.ServicesCount</td>
                <td>@category.PartnersCount</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm" asp-area="Administration"
                        asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.Id">
                            Borrar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
