﻿@using CeroFilas.Common
<!DOCTYPE html>
<html lang="es_CO">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/aos/dist/aos.css" rel="stylesheet">
        <link href="~/lib/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
        <link href="~/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/plugins/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/aos/dist/aos.css" rel="stylesheet">
        <link href="~/lib/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
        <link href="~/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/plugins/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/css/style.min.css" rel="stylesheet">
    </environment>
    @this.RenderSection("Styles", required: false)
</head>

<body>
    <partial name="_CookieConsentPartial" />

    <!-- ======= Header ======= -->
    <partial name="_MenuPartial" />

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container" data-aos="fade-bottom">

            <ol>
                <li><a href="/">Inicio</a></li>
                <li>Adminitración</li>
                <li>@this.ViewData["Title"].ToString()</li>
            </ol>
            <h2>@this.ViewData["Title"].ToString()</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <main id="main">
        <section class='@this.ViewData["cClass"]?.ToString()'>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-3">
                    <partial name="_AdminSidebarPartial"></partial>
                    </div>
                    <div class="col-lg-9">
                        @this.RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->


    <!-- ======= Footer ======= -->
    <partial name="_FooterPartial" />
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- plugins JS Files -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"
            asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/aos/dist/aos.js"></script>
        <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
        <script src="~/lib/glightbox/dist/js/glightbox.min.js"></script>
        <script src="~/plugins/purecounter/purecounter.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"
            asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/aos/dist/aos.js"></script>
        <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
        <script src="~/lib/glightbox/dist/js/glightbox.min.js"></script>
        <script src="~/plugins/purecounter/purecounter.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/main.min.js"></script>
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>

</html>