﻿@model CeroFilas.Web.ViewModels.PartnerServices.PartnerServiceDetailsViewModel
@{
    ViewData["Title"] = "Default";
}

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Empresa</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.PartnerName</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Dirección</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.PartnerAddress</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Servicio</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.ServiceName</div>
    </div>
</div>
