﻿@model CeroFilas.Web.ViewModels.BlogPosts.BlogPostsListViewModel
@using CeroFilas.Common
@{
    this.ViewData["Title"] = "Blog Posts";
}

<h2>
    All Blog Posts (@Model.BlogPosts.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="BlogPosts" asp-action="AddBlogPost">Add New Blog Post</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Content</th>
            <th scope="col">Author</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blogPost in this.Model.BlogPosts)
        {
            <tr>
                <th scope="row">@blogPost.Title</th>
                <td>
                    <img class="align-self-center" src="@blogPost.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#blogPost-@blogPost.Id">
                        See Full Content
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="blogPost-@blogPost.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">@blogPost.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @blogPost.Content
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>@blogPost.Author</td>
                <td>@blogPost.CreatedOn</td>
                <td>
                    @if (blogPost.Id <= GlobalConstants.SeededDataCounts.BlogPosts)
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Administration" asp-controller="BlogPosts" asp-action="DeleteBlogPost" asp-route-id="@blogPost.Id">
                                Delete
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
