﻿@model CeroFilas.Web.ViewModels.Partners.PartnerInputModel
@{
    this.ViewData["Title"] = "Añadir Empresa";
    var categories = this.ViewData["Categories"] as SelectList;
    var cities = this.ViewData["Cities"] as SelectList;
}

<div class="col-lg-6">
    <h2>Nueva Empresa</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre de la Empresa</label>
            <div class="col-sm-8">
                <input type="text" asp-for="@Model.Name" class="form-control" required="required">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Logo</label>
            <div class="col-sm-8">
                <input type="file" asp-for="@Model.Image" class="form-control-file image-upload" required="required" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Documento DIAN</label>
            <div class="col-sm-8">
                <input type="file" class="form-control-file image-upload" required="required" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Espacios de Tiempo</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option>15 Minutos</option>
                    <option>20 Minutos</option>
                    <option>30 Minutos</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Categoría</label>
            <div class="col-sm-8">
                <select asp-for="@Model.CategoryId" class="form-control" asp-items="@categories">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Ciudades</label>
            <div class="col-sm-8">
                <select asp-for="@Model.CityId" class="form-control" asp-items="@cities">
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Dirección</label>
            <div class="col-sm-8">
                <input type="text" asp-for="@Model.Address" class="form-control" required="required">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sitio Web</label>
            <div class="col-sm-8">
                <input type="text" asp-for="@Model.Website" class="form-control" required="required">
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                        asp-area="Administration" asp-controller="Partners" asp-action="AddPartner">
                    Enviar datos
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" asp-area="Administration" asp-controller="Partners" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}
