﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row ml-5">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h4>Bienvenido al Área de Clientes</h4>
                <p>Ingresa tus datos de acceso para continuar en la aplicación.</p>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidó su contraseña?</a>
                    </p>
                    <p>Si aún no estás registrado:</p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crea una cuenta nueva</a>
                    </p>
                </div>
            </form>
        </section>
    </div>  
    <div class="col-md-6">
        <img src="~/img/auth/mobile_login.svg" class="img-fluid" alt="">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
