﻿@using CeroFilas.Common
@{
    this.ViewData["Title"] = "Dashboard";
}

<h3>Bienvenido al panel de administración!</h3>
<p>Desde aquí puedes administrar y monitorear todos los componentes del sitio:</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <a asp-area="Administration" asp-controller="Categories" asp-action="Index" class="btn mr-2 btn-danger btn-md" role="button"><i class="bi bi-tags-fill"></i> <br/>Categorías</a>
                    <a asp-area="Administration" asp-controller="Services" asp-action="Index" class="btn mr-2 btn-warning btn-md" role="button"><i class="bi bi-lightbulb"></i> <br/>Servicios</a>
                    <a asp-area="Administration" asp-controller="Cities" asp-action="Index" class="btn mr-2 btn-success btn-md" role="button"><i class="bi bi-geo-alt"></i> <br/>Ciudades</a>
                    <a asp-area="Administration" asp-controller="Appoinments" asp-action="Index" class="btn mr-2 btn-info btn-md" role="button"><i class="bi bi-calendar-week"></i> <br/>Citas</a>
                    <a asp-area="Administration" asp-controller="Partners" asp-action="Index" class="btn btn-success btn-md" role="button"><i class="bi bi-building"></i> <br/>Empresas</a>
                </div>
            </div>
        </div>
    </div>
</div>